<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.asteromania.doitlist"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="de.asteromania.doitlist.activities.DoItMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.asteromania.doitlist.activities.DoItCreateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" >
            <intent-filter>
                <action android:name="de.asteromania.doitlist.CREATE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.asteromania.doitlist.activities.DoItUpdateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" >
            <intent-filter>
                <action android:name="de.asteromania.doitlist.UPDATE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.asteromania.doitlist.activities.DoItListMenuActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="de.asteromania.doitlist.LIST_MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.asteromania.doitlist.activities.DoItListCreateActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="de.asteromania.doitlist.CREATE_LIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.asteromania.doitlist.activities.DoItShowListActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="de.asteromania.doitlist.SHOW_LIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.asteromania.doitlist.activities.DoItListItemCreateActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="de.asteromania.doitlist.CREATE_LIST_ITEM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.asteromania.doitlist.activities.DoItListItemUpdateActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="de.asteromania.doitlist.UPDATE_LIST_ITEM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.asteromania.doitlist.activities.DoItListNameUpdateActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="de.asteromania.doitlist.UPDATE_LIST_NAME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>        
    </application>

</manifest>